<!DOCTYPE html>
<html>
<head>
	<title>OAuth Stuff</title>
</head>
<body>
	<br/>
	<a href="/" 
	style="border:2px solid #e74c3c;background: #e74c3c; color: #fff; padding: 10px;border-radius: 5px;text-decoration: none">Home</a>
	<a href="/auth/register" 
	style="border:2px solid #e74c3c;background: #e74c3c; color: #fff; padding: 10px;border-radius: 5px;text-decoration: none">Register</a>
	<a href="/auth/login" 
	style="border:2px solid #e74c3c;background: #e74c3c; color: #fff; padding: 10px;border-radius: 5px;text-decoration: none">Login</a>

	<a href="/auth/logout" 
	style="border:2px solid #e74c3c;background: #e74c3c; color: #fff; padding: 10px;border-radius: 5px;text-decoration: none">Logout</a>

