<% include ./partials/header %>


<p>Register</p>

<form action="/auth/new" method="post" > 
	<input name="email" placeholder="email" /><br/><br/>
	<input name="password" placeholder="password" /><br/><br/>
	<input name="image" placeholder="image" /><br/><br/>
	<input type="submit" />
</form>


<% include ./partials/footer %>